:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #fff;

  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: var(--yellow);
  font-size: 14px;
  font-family: "Figtree";
}

main {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: var(--spacing-300);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0px 0px #000;
}

.card-img {
  width: 336px;
  height: 200px;
  border-radius: 10px;
}

.card-content {
  width: 336px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.card-tag {
  width: fit-content;
  background-color: var(--yellow);
  border-radius: var(--spacing-50);
  padding: var(--spacing-50) var(--spacing-150);
  font-family: inherit;
  color: var(--gray-950);
  font-size: inherit;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
}

.card-date {
  color: var(--gray-950);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.card-title {
  color: var(--gray-950);
  font-family: inherit;
  font-size: var(--spacing-300);
  font-weight: 800;
  font-style: normal;
  line-height: 150%;
  transition: color 0.125s ease-out;
}

.card-description {
  color: var(--gray-500);
  font-family: inherit;
  font-size: var(--spacing-200);
  font-weight: 500;
  font-style: normal;
  line-height: 150%;
}

.card-author {
  display: flex;
  gap: var(--spacing-150);
  align-items: center;
}

.author-avatar {
  width: 32px;
  height: 32px;
}

.author-name {
  color: var(--gray-950);
  font-family: inherit;
  font-size: inherit;
  font-weight: 800;
  font-style: normal;
  line-height: 150%;
}

/* ================ */
/* Interactions */
/* ================ */

.card:hover {
  cursor: pointer;
}

.card:hover .card-title,
.card:active .card-title,
.card:focus .card-title {
  color: var(--yellow);
}
